[data-bs-theme=dark] {
    --bs-body-color: white !important;
    --bs-body-bg: black !important;
}

#brand-logo {
    max-height: 32px;
    margin: 0 5px 0 0;
}

form {
    width: auto;
    justify-content: center;
    align-items: center;
}

input[type=file]::file-selector-button {}

#imgContainer {
    overflow: auto;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

#imgForm {
    display: flex;
    flex-wrap: wrap;
}

img {
    margin: 5px 10px 5px 2px;
}

figcaption {
    text-align: center;
}