[data-bs-theme=dark] {
    --bs-body-color: white !important;
    --bs-body-bg: black !important;
}

form {
    /* display: flex;
    flex-wrap: wrap; */
    width: auto;
    justify-content: center;
    align-items: center;
    /* margin-left: 5px;
    padding: 5px; */
}

#uploadForm {
    display: flex;
}

/* input[type=file] {
    width: fit-content;
} */

input[type=file]::file-selector-button {}

#imgContainer {
    padding-top: 4rem;
    overflow: auto;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

#imgForm {
    display: flex;
    flex-wrap: wrap;
}

img {
    margin: 5px 10px 5px 2px;
    /* width: auto;
    height: 125px; */
    cursor: pointer;
}

figcaption {
    text-align: center;
    font-size: small;
}